<h1>Welcome, <%=current_user.username%></h1>
<h2>Here is your reading list:</h2>
<ol>
	<% current_user.books.each do |book| %>
	  <li><a href="/books/<%=book.id%>"> <%=book.title%> by <%=book.author.name%></a> 
	  <br>
	  <a href="/books/<%=book.id%>/edit"><button>Edit Book</button></a> 
	  <form action="/books/<%= book.id %>/delete" method="POST">
	  <input id="hidden" type="hidden" name="_method" value="DELETE">
	  <input  type="submit" value="Delete Book"></li>
</form>
	<% end %>
</ol>
<br></br>

	<a class="button" href="/books/add">Click here to add a book to your reading list</a>
	<br></br>



