<h2>Add an Existing Book From the Library to Your Reading List</h2>

<form action="/books/add" method="POST">
	<% @new_books.each do |book| %>
	  <input id="<%=book.id%>" type="radio" name="book[id]" value="<%=book.id%>">
	  <label for="<%=book.id%>"><a href="/books/<%=book.id%>"><%=book.title%> by <%=book.author.name%></a></label>
	  <br>
	<% end %>
	<br>
	<input type="submit" value="Add Book">  
</form>
<br></br>
<form action="/books/new" method="get">
<input type="submit" value="Click Here To Create A New Book" class="button">
</form>

