<h1>Add an Existing Book From the Library to Your Reading List</h1>

<form action="/books/add" method="POST">
	<% Book.all.each do |book| %>
	  <input id="<%=book.id%>" type="radio" name="book[id]" value="<%=book.id%>">
	  <label for="<%=book.id%>"><%=book.title%> by <%=book.author.name%></label>
	  <br>
	<% end %>
	<input type="submit" name="Add Book">  
</form>