<h1><%=@book.title%> by <a href="/authors/<%=@book.author_id%>"><%=@book.author.name%></a> </h1>

<h2>Users who are reading this book: </h2>
<ul>
	<% @book.users.each do |user| %>
	<li><%=user.username%></li>
	<% end %>
</ul>
<br></br>
	<% if !current_user.books.include?(@book) %>
	<form action="/books/add" method="POST">
	<input id="<%=@book.id%>" type="hidden" name="book[id]" value="<%=@book.id%>">
	<input class="button" type="submit" value="Add This Book to Your Reading List">	
	</form>
<% end %>	
